*{
    margin: 0px;
    padding: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

.menus-item{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
}
.banner{
    height: 100vh;
    background-image: url('../asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.primary{
    color: red;
}
.banner-title{
    font-size: 55px;
    color: white;
    font-weight: bold;
}
.banner-description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: 0px auto;
    /* center align er arekta technique */
}
.btn{
    padding: 15px 20px;
    background-color: white;
    border: none;
    margin-right: 5px;
}
.bg-red{
    background-color: red;
    color: white;
}
.service-container{
    height: 100vh;
    background-image: url('../asset/image/footer-bg.png'),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    padding: 20px;
    /* justify-content: space-around; */
    align-items: center;

}
.service-btn{
    padding: 15px 20px;
    background-color: red;
    color: white;
    border: none;
}
.service-description{
    width: 50%;
}

.box{
    background-color: white;
    height: 100px;
    width: 150px;
    padding: 50px;
    text-align: center;
    color: black;
    border-radius: 5px;
}
.icon{
    width: 70px;
    margin-bottom: 20px;
}
.first-two-box{
    display: flex;
    gap: 5px;
}
.second-two-box{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.author-profile{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
}
.author-pic{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}
.author-container{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}
.appointment-container{
    display: flex;
    gap: 20px;
    background-color: rgba(255, 0, 0,0.7);
    padding: 20px;
    width: 70%;
    align-items: center;
    margin: 0px auto;
    margin-top: -20px;
    border-radius: 20px;
}
.consultation-apt{
   display: flex;
   align-items: center;
   gap: 10px;
}
